body {
    padding: 0;
    margin: 0;
}
#game-wrapper {
    padding: 0;
    display: block;
    margin: 5% auto 0px;
}
#game-canvas {
    background-color: skyblue;
    //background-image: url(../GameAssets/images/mario_dirt_tile.png), url(../GameAssets/images/mario_pipe_tile.png), url(../GameAssets/images/mario_clouds_tile.png);
    //-moz-background-origin: content-box, content-box, content-box;
    //-webkit-background-origin: content-box, content-box, content-box;
    //background-origin: content-box, content-box, content-box;
	//background-repeat:repeat-x, repeat-x, repeat-x;
	//background-position:bottom, 0 96px, 0 0;
}
#info {
    text-align: center;
}
#mobile-controls {
    position: relative;
    padding: 0;

    button {
        background: no-repeat;
        -moz-background-origin: content-box;
        -webkit-background-origin: content-box;
        background-origin: content-box;
        -moz-background-size: 30% 30%;
        -o-background-size: 30% 30%;
        -webkit-background-size: 30% 30%;
        background-size: 30% 30%;
		background-position:center;
        position: absolute;
        width: 100px;
        height: 100px;
		border: thin solid black;

		&:hover, &:focus, &:active{
			background-color: azure;
		} 
    }

    #left-key {
        background-image: url(../img/glyphs/left_arrow.png);
        top: 0;
        left: 0;
    }

    #right-key {
        background-image: url(../img/glyphs/right_arrow.png);
        top: 0;
        left: 105px;
    }

    #up-key {
        background-image: url(../img/glyphs/up_arrow.png);
        top: 0;
        right: 0;
    }

    #space-key {
        background-image: url(../img/glyphs/axe.png);
        top: 105px;
        right: 0;
    }
}
