body {
  padding: 0;
  margin: 0;
}
#game-wrapper {
  padding: 0;
  display: block;
  margin: 5% auto 0px;
}
#game {
  background: whitesmoke;
}
#info {
  text-align: center;
}
#mobile-controls {
  position: relative;
  padding: 0;
}
#mobile-controls button {
  background: no-repeat;
  -moz-background-origin: content-box;
  -webkit-background-origin: content-box;
  background-origin: content-box;
  -moz-background-size: 30% 30%;
  -o-background-size: 30% 30%;
  -webkit-background-size: 30% 30%;
  background-size: 30% 30%;
  background-position: center;
  position: absolute;
  width: 100px;
  height: 100px;
  border: thin solid black;
}
#mobile-controls button:hover,
#mobile-controls button:focus,
#mobile-controls button:active {
  background-color: azure;
}
#mobile-controls #left-key {
  background-image: url(../img/glyphs/left_arrow.png);
  top: 0;
  left: 0;
}
#mobile-controls #right-key {
  background-image: url(../img/glyphs/right_arrow.png);
  top: 0;
  left: 110px;
}
#mobile-controls #space-key {
  background-image: url(../img/glyphs/axe.png);
  top: 0;
  right: 0;
}
