@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>anishpatel.net - boho fighter</title>
    
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
        #game {
            background: whitesmoke;
            display: block;
            margin: 5% auto 0px;
        }
        #info {
            text-align: center; 
        }
    </style>
</head>
    <body>
        
        <canvas id="game">
        
        </canvas>

        <div id="info">
            <small>arrow keys to move</small>
        </div>

        <script type="text/javascript" src="~/scripts/game"></script>

    </body>
</html>
