@{
    ViewBag.Title = "anishpatel.net";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BeatemUp</title>
    
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
        #game {
            background: url(/img/game_assets/test_bg.png);
            display: block;
            margin: 5% auto;
        }
    </style>
</head>
    <body>
        
        <canvas id="game">
        
        </canvas>

        <script type="text/javascript" src="/js/vendor/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/js/vendor/jquery.hotkeys.js"></script>
        <script type="text/javascript" src="/js/vendor/easeljs-0.6.0.min.js"></script>
        <script type="text/javascript" src="/js/game.js"></script>
    </body>
</html>
